* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #f2f2f2;
}

.container {
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

/* center aligning the heading h2 */
/* h2 container ke andar hai  */
.container h2 {
    font-size: 22px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}

/* styling input boxes  */
.input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;

}

/* styling icon  */
.lock {
    padding: 8px 11px;
}

.name {
    width: 45%;
    padding: 8px 0 8px 40px;
}

input-name span {
    margin-left: 35px;
}

/* disigning mail  */
.text-name {
    width: 100%;
    padding: 8px 0 8px 40px;
}

/* designing icon  */
.input-name i {
    position: absolute;
    padding: 5px;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}

.email {
    padding: 8px;
}

.text-name,
.name {
    border: 1px solid #cccccc;
    outline: none;

    /* specially ye code google chrome pe hi chalega  */
    -webkit-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

/* hovering  */
.text-name:hover,
.name:hover {
    background-color: #fafafa;
}

/* Focusing  */
.text-name:focus,
.name:focus {
    border: ipx solid blue;
}

/* designing radio button  */
.radio-button {
    margin-right: 4px;
}

/* designing country section  */
.country {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer border: 1px solid #cccccc;
    color: #7b7b7b;
    border-radious: 0;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}

.country::-ms-expand {
    display: none;
} 

.country:hover,
.country:focus {
    color: blue;
    background-color: #fafafa;
    border-color: blue;
    outline: none;
}

/* making arraow  */
